prior_correction_MNL-blx.bib
prior_correction_MNL-concordance.tex
prior_correction_MNL.bbl
prior_correction_MNL.log
prior_correction_MNL.run.xml
prior_correction_MNL.synctex.gz
prior_correction_MNL.tex
prior_correction_MNL.toc